<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{.Title}}</title>
		{{ $style := resources.Get "main.css" | resources.Minify | resources.Fingerprint }}
		<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	</head>
	<body>
		<h1>
			{{ .Title }}
			<br />
			<small style="font-weight: bold;">
				On <span class="site"><a href="{{.Site.BaseURL}}">{{.Site.Title}}</a></span>
			</small>
		</h1>
		<main>
			<section class="article-list flexcol">
				{{ range .Pages }}
				{{- if .OutputFormats.Get "html" }}
				<div class="article">
					<span class="date">{{.Date.Format "January 2, 2006"}}</span>
					<a href="{{.Permalink}}">{{.Title}}</a>
				</div>
				{{ end }}
				{{ end }}
			</section>
			{{ .Content }}
		</main>
		{{ partial "footer.html" . }}
	</body>
</html>
