/*
 * SPDX-License-Identifier: CC0-1.0
 * Primarily written by Drew Devault
 * I asked him whether this could be PD as I want to keep this repo PD. Thanks!
 */
html {
	font-family: system-ui, sans-serif;
	--bg: hsl(32, 98%, 92%);
	--fg: #1E1F21;
	--boxbg: hsl(32, 60%, 88%);
	--border: rgb(180, 180, 180);
	--dim-text-color: #333;
	--link-color: #24527d;
	--text-decoration-color: #CCC;
	color: var(--fg);
	background-color: var(--bg);
}

@media(prefers-color-scheme:dark) {
	html {
		--bg: #1E1F21;
		--fg: #EEEFF1;
		--dim-text-color: #999;
		--boxbg: #2E2F31;
		--border: rgb(80, 80, 80);
		--link-color: #5ca7ed;
		--text-decoration-color: #474747;
	}
}


code, pre {
	font-family: "DejaVu Sans Mono", monospace;
}

body {
	margin: 0 auto;
	padding: 1rem;
	max-width: 850px;
}

h1 {
	margin-top: 0;
	font-size: 1.5rem;
}

a:link {
	text-decoration-color: var(--text-decoration-color);
	color: var(--link-color);
}
a:visited {
	text-decoration-color: var(--text-decoration-color);
	color: var(--link-color);
}

.title {
	text-align: center;
	font-size: 180%;
}

.author {
	text-align: center;
	font-size: 120%;
}

/* 
 * vim: ts=8 sw=8 noexpandtab
 */
