{{ partial "head.html" . }}

<body class="wider-body">

<h1>{{$.Title}}</h1>

<main class="index flexcols">
	<aside class="flexcol">
		<p style="margin-top: 0rem;">
		I am Runxi Yu, 于润熙, a 16-year-old student from Shanghai.
		</p>
		<table>
			<tbody>
				<tr>
					<th span="row">Email</th>
					<td><a href="mailto:me@runxiyu.org">me@runxiyu.org</a></td>
				</tr>
				<tr>
					<th span="row">IRC</th>
					<td><code>runxiyu</code> on <a href="https://irc.runxiyu.org">irc.rx</a> and many others</td>
				</tr>
				<tr>
					<th span="row">Git</th>
					<td><a href="https://git.runxiyu.org">git.rx</a> <a href="https://git.andrewyu.org">contrib</a> <a href="https://sr.ht/~runxiyu">sr.ht</a> <a href="https://codeberg.org/runxiyu">codeberg</a> <a href="https://github.com/runxiyu">github</a></td>
				</tr>
				<tr>
					<th span="row">Sites</th>
					<td><a href="https://git.runxiyu.org/runxiyu/philo.git/plain">tex</a> <a href="https://docs.runxiyu.org">docs</a> <a href="https://ykps.runxiyu.org">school</a></td>
				</tr>
				<tr>
					<th span="row">Misc</th>
					<td><a class="rss" href="/blog/index.xml">rss</a></td>
				</tr>

			</tbody>
		</table>
		{{.Content}}
	</aside>
	<section class="article-list flexcol">

		{{ range (where (where .Site.RegularPages "Section" "blog") "Params.nohtml" "!=" "true") }}
		{{- if .OutputFormats.Get "html" }}
		<div class="article">
			<span class="date">{{.Date.Format "January 2, 2006"}}</span>
			<a href="{{.Permalink}}">{{.Title}}</a>
		</div>
		{{ end }}
		{{ end }}
	</section>

</main>

</body>
</html>
